# Ignore all files without an extension
*
!/**/
!*.*

# Temporary files
.DS_Store
*.fbin
*.ibin
datasets
bin
*.usearch
.cache

# C++ builds
build
build_release
build_debug
_deps
CMakeCache.txt
CMakeFiles
cmake_install.cmake

# Profiling with GProf and `perf` on Linux
gmon.out
perf.data

# Python wrappers
__pycache__
*.egg-info
dist/
wheelhouse/

# Python Environments
venv/

# JS wrappers
package-lock.json
node_modules/

# Rust builds
Cargo.lock
target/

# Java bindings
.gradle
*.class

# ObjC and Swift
.build
.swiftpm

# C# builds
csharp/**/[Bb]in/
csharp/**/[Oo]bj/
csharp/lib
csharp/packages

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Allow golang go.mod
!go.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
