[submodule "numkong"]
	path = numkong
	url = https://github.com/ashvardanian/NumKong
	branch = main-dev
[submodule "stringzilla"]
	path = stringzilla
	url = https://github.com/ashvardanian/stringzilla
	branch = v3.10.10
