{
    "branches": [
        "main"
    ],
    "debug": true,
    "ci": true,
    "dryRun": false,
    "plugins": [
        [
            "@semantic-release/commit-analyzer",
            {
                "preset": "eslint",
                "releaseRules": [
                    {
                        "tag": "Break",
                        "release": "major"
                    },
                    {
                        "tag": "Add",
                        "release": "minor"
                    },
                    {
                        "tag": "Improve",
                        "release": "patch"
                    },
                    {
                        "tag": "Make",
                        "release": "patch"
                    },
                    {
                        "tag": "Refactor",
                        "release": false
                    }
                ]
            }
        ],
        [
            "@semantic-release/release-notes-generator",
            {
                "preset": "eslint",
                "releaseRules": [
                    {
                        "tag": "Break",
                        "release": "major"
                    },
                    {
                        "tag": "Add",
                        "release": "minor"
                    },
                    {
                        "tag": "Improve",
                        "release": "patch"
                    },
                    {
                        "tag": "Make",
                        "release": "patch"
                    },
                    {
                        "tag": "Refactor",
                        "release": false
                    }
                ]
            }
        ],
        "@semantic-release/github",
        [
            "@semantic-release/exec",
            {
                "prepareCmd": "bash .github/workflows/update_version.sh '${nextRelease.version}'"
            }
        ],
        [
            "@semantic-release/git",
            {
                "assets": [
                    "VERSION",
                    "README.md",
                    "CMakeLists.txt",
                    "conanfile.py",
                    "package.json",
                    "Cargo.toml",
                    "Cargo.lock",
                    "wasmer.toml",
                    "./include/usearch/index.hpp",
                    "./csharp/nuget/nuget-package.props",
                    "CITATION.cff"
                ],
                "message": "Build: Released ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
            }
        ]
    ]
}